<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE log4net [
  <!ENTITY pattern "&#x0025;date (&#x0025;-4timestamp) [&#x0025;thread] &#x0025;-5level &#x0025;logger - &#x0025;message&#x0025;newline">
]>
<log4net>
  
  <appender name="fileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{username}.%property{hostname}.%property{processId}.log" />

    <appendToFile value="true" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="&pattern;" />
    </layout>
  </appender>

  <appender name="console" type="log4net.Appender.ColoredConsoleAppender, log4net">
    <mapping><level value="INFO" /><foreColor value="Cyan" /></mapping>
    <mapping><level value="WARN" /><foreColor value="Yellow" /></mapping>
    <mapping><level value="ERROR" /><foreColor value="Red, HighIntensity" /></mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="&pattern;" />
    </layout>
  </appender>

  <root>
    <level value="Info" />
    <appender-ref ref="fileAppender" />
    <appender-ref ref="console" />
  </root>
</log4net>