<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE log4net [
  <!ENTITY pattern "&#x0025;date (&#x0025;-4timestamp) [&#x0025;thread] &#x0025;-5level &#x0025;logger - &#x0025;message&#x0025;newline">
]>
<log4net>
  
  <appender name="console" type="log4net.Appender.ColoredConsoleAppender">
    <mapping><level value="DEBUG" /><foreColor value="White" /></mapping>
    <mapping><level value="INFO" /><foreColor value="Cyan" /></mapping>
    <mapping><level value="WARN" /><foreColor value="Yellow" /></mapping>
    <mapping><level value="ERROR" /><foreColor value="Red" /></mapping>
    <mapping><level value="FATAL" /><foreColor value="Red, HighIntensity" /></mapping>
    <threshold value="ALL" />
    <!--<param name="Threshold" value="ALL" />-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="&pattern;" />
    </layout>
  </appender>

  <appender name="fileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{username}.%property{hostname}.%property{processId}.log." />

    <threshold value="INFO" />

    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyy-MM-dd_HH" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="&pattern;" />
    </layout>
  </appender>

  <appender name="eventLog" type="log4net.Appender.EventLogAppender">
    <threshold value="ERROR" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="&pattern;" />
    </layout>
  </appender>

  <appender name="sensitiveAppender" type="log4net.Appender.FileAppender">
    <file value="sensitive.log" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="&pattern;" />
    </layout>
  </appender>

  <root>
    <level value="All" />
    <appender-ref ref="console" />
    <appender-ref ref="fileAppender" />
    <appender-ref ref="eventLog" />
  </root>

  <logger name="Sensitive" additivity="false">
    <appender-ref ref="sensitiveAppender" />
  </logger>
</log4net>