FormationDotNet.sdf
FormationDotNet.suo
FormationDotNet.v11.suo
bin/
obj/
NativeLibrary/Debug/
*.opensdf
Tools/
DependencyWalkerSamples/*.dll
DependencyWalkerSamples/*.obj
DependencyWalkerSamples/*.exp
DependencyWalkerSamples/*.lib
packages/